<h2>Create a new product</h2>
<span class="help-block" id="help">This page is monitored and logged - only add new products if you have all the correct details. 
If you are using this page unauthorised, legal action will be taken against you.</span>
<% @product.errors.full_messages.each do |message| %>
	<%= message %><br>
<% end %>
<%= form_for(@product, url: product_create_path, method: :post, :html => {multipart: true}) do |p|%>
<div class="container" id="user-edit-container" align="center">
	<div class="input-group">
		<%= p.label "**Product Name", id: "user-edit-label" %><br>
		<%= p.text_field :product_name, class: "form-control", id: "form-user-edit" %><br>
	</div>
	<div class="input-group">
		<%= p.label "**Product Description", id: "user-edit-label" %><br>
		<%= p.text_area :product_description, class: "form-control", id: "form-user-edit" %>
	</div>
	<div class="input-group">
		<%= p.label "**Product picture", id: "user-edit-label" %><br>
		<%= p.file_field :picture, accept: 'image/jpeg, image/gif, image/png' %><br>
	</div>
	<div class="input-group">
		<%= p.label "**Product Price", id: "user-edit-label" %><br>
		<%= p.text_field :product_price, class: "form-control", id: "form-user-edit" %><br>
	</div>
	<div class="input-group">
		<%= p.label "**Brand ID", id: "user-edit-label" %><br>
		<%= p.text_field :brand_id, class: "form-control", id: "form-user-edit" %><br>
		<span class="help-block" id="help">Please enter the brand ID</span>
	</div>
<div class="input-group">
		<%= p.submit "Create product", class: "btn btn-primary" %>
</div>
		<span class="help-block" id="help">All fields with '**' next to them are required!</span>
</div>
<% end %>