<%= link_to 'Empty cart', empty_cart_path if user_signed_in?%><br>
<% if user_signed_in? %>
	<% @user_products.each do |item| %>

		<div align="center"> <img src="<%= item.image_url %>" alt="<%= item.product_name %>"><br /></div>
		<b>Product name:</b> <%= item.product_name %><br>
		<b>Product description:</b><br /> <p class="product-description"><%= item.product_description %></p><br>
		<b>Product price:</b> <%= item.product_price %><br>
		<%= link_to "add this product to your cart", cart_add_item_path(item.product_id) %><hr>
	<% end %>
<% end %>

<%= link_to 'Lockpick set', cart_add_item_path(1) if user_signed_in? %><br>
<%= link_to 'Motorcycle jacket', cart_add_item_path(2) if user_signed_in?%><br>

<%= link_to 'destroy cart', destroy_cart_path if user_signed_in? %><br>

<%= link_to 'destroy account', user_registration_path, method: :delete if user_signed_in? %>