<%= link_to 'Empty cart', empty_cart_path if user_signed_in?%><br>
<%= link_to 'Lockpick set', cart_add_item_path(1) if user_signed_in? %><br>
<%= link_to 'Motorcycle jacket', cart_add_item_path(2) if user_signed_in?%><br>

<% @products.each do |p|%>
<ul class="products">
	<li id="liprod"><%= link_to p.product_name, root_path, id: "product-text" %></li>
	<li id="liprod"><%= image_tag(p.picture.url, alt: p.product_name, size: "450x300", id: "product-pic") %></li>
	<li id="liprod"><span id="product-text">Price: <%= p.product_price == 0.0 ? "N/A" : "£#{p.product_price}" %></span></li>
	<li id="liprod"><span id="product-text">Brand: <%= p.brand.name %></span></li>

	<% if product_available?(p) %>
		<li id="liprod"><%= link_to "Add item to cart", cart_add_item_path(p.product_id), method: :post, id: "product-add" if user_signed_in? %></li>
	<% else %>
		<li id="liprod"><%= link_to "Product not available", cart_add_item_path(p.product_id), :disabled => :true if user_signed_in? %></li>
	<% end %>
	<li id="liprod"><div align="right"><%= link_to 'Delete this Product' , product_destroy_path(p), data: {confirm: "Are you sure?"}, id:"delete" if user_is_admin? %></div></li>
	</ul>
<% end %>
