<h2 id="menu-header">My full details</h2>
<div id="details">
	<ul id="details-list">
		<li id="detail-list-item"><p id="item-name">Username:</p> <%= @details.username %> </li>
		<li id="detail-list-item"><p id="item-name">Email:</p> <%= @details.email %> </li>
		<li id="detail-list-item"><p id="item-name">First name:</p> <%= @details.first_name %> </li>
		<li id="detail-list-item"><p id="item-name">Last name:</p> <%= @details.last_name %> </li>
		<li id="detail-list-item"><p id="item-name">Address:</p><br> <%= @details.address_line_one %> <br> <%= @details.address_line_two %> <br> <%= @details.address_line_three %> <br> <%= @details.address_line_four %> <br> <%= @details.address_line_five%> </li>
</div>