<h2 id="menu-header">My profile details</h2>
<%= form_for obj, url: user_path, html: { method: :put} do |f| %>
	<% obj.errors.full_messages.each do |message| %>
		<%= message %><br>
	<% end %>
		<div class="input-group">
			<%= f.label :first_name, id: "user-edit-label" %><br>
			<%= f.text_field :first_name, class: "form-control", id: "form-user-edit" %>
		</div>
		<div class="input-group">
			<%= f.label :last_name, id: "user-edit-label" %><br>
			<%= f.text_field :last_name, class: "form-control", id: "form-user-edit" %>
		</div>
		<div class="input-group">
			<%= f.label :email, id: "user-edit-label" %><br>
			<%= f.email_field :email, class: "form-control", id: "form-user-edit" %>
		</div>

		<div class="input-group">
			<%= f.label :password, id: "user-edit-label"  %><br>
			<%= f.password_field :password, class: "form-control", id: "form-user-edit" %>
		</div>

		<div class="input-group">
			<%= f.label "confirm password", id: "user-edit-label"  %><br>
			<%= f.password_field :password_confirmation, class: "form-control", id: "form-user-edit" %>
		</div>

		<div class="input-group">
			<%= f.label :picture, id: "user-edit-label"  %><br>
			<%= f.file_field :picture, class: "form-control", id: "form-user-edit" %>
		</div>

		<div class="input-group">
			<%= f.submit "Save", url: user_path(obj), html: { method: :put}, class: "btn btn-primary"  %>
	<% end %>
</div>
