<!DOCTYPE html>
<html ng-app="MGD">
<head>
  <title>Motorgearden</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="../assets/motorgearden.js"></script>
  <%= render 'shared/header' %>
</head>
<body ng-controller="motorHome">
<div class="container">
	<%= yield %>
</div>

</body>
</html>
