<!DOCTYPE html>
<html>
<head>
  <title>Motorgearden</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta content="Are you interested in cheap and reliable motorcycle gear? Do you love riding your motorcycle? Then Read more on MotorGearDen" name="Description">
</head>
<body>
  <%= render 'shared/header' %>
<button id="showme" onclick="showCategory()">Show categories</button>
<div id="categories">
  <%= render 'shared/sub_categories' %>
</div>
<div class="container" id="maincontainer">
  <%= render 'shared/sub_header'%>
	<%= render 'shared/flash' %>
	<%= yield %>
	<%= render 'shared/footer' %>
</div>

</body>
</html>
